<div class="legal-consultant1-container">
  <div class="legal-consultant1-legal-consultant1">
    <div class="legal-consultant1-section-why">
      <div class="legal-consultant1-our-feature">
        <div class="legal-consultant1-feature">
          <img
            src="/assets/playground_assets/userarrows140-n4x4.svg"
            alt="UserArrows140"
            class="legal-consultant1-user-arrows"
          />
          <div class="legal-consultant1-frame17">
            <span class="legal-consultant1-text">
              <span>Climate Change</span>
            </span>
            <span class="legal-consultant1-text002">
              <span>
                fossil fuels, deforestation, and industrial production have led
                to increased greenhouse gas emissions
              </span>
            </span>
          </div>
        </div>
        <div class="legal-consultant1-feature1">
          <img
            src="/assets/playground_assets/rocket145-31s.svg"
            alt="Rocket145"
            class="legal-consultant1-rocket"
          />
          <div class="legal-consultant1-frame171">
            <span class="legal-consultant1-text004">
              <span>Information and Technology</span>
            </span>
            <span class="legal-consultant1-text006">
              <span>
                using renewable energy sources, reducing our energy consumption,
                using eco-friendly products,
              </span>
            </span>
          </div>
        </div>
        <div class="legal-consultant1-feature2">
          <img
            src="/assets/playground_assets/bag150-l30b.svg"
            alt="Bag150"
            class="legal-consultant1-bag"
          />
          <div class="legal-consultant1-frame172">
            <span class="legal-consultant1-text008">
              <span>Commercial</span>
            </span>
            <span class="legal-consultant1-text010">
              <span>
                It can lead to cost savings, improved health, and increased
                economic opportunities
                <span [innerHTML]="rawj6rl"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="legal-consultant1-feature3">
          <img
            src="/assets/playground_assets/circlelayer155-15n.svg"
            alt="CircleLayer155"
            class="legal-consultant1-circle-layer"
          />
          <div class="legal-consultant1-frame173">
            <span class="legal-consultant1-text012">
              <span>Resources</span>
            </span>
            <span class="legal-consultant1-text014">
              <span>
                Going green helps preserve our planet&apos;s natural resources
                and reduces our impact on the environment.
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="legal-consultant1-title">
        <span class="legal-consultant1-text016">
          <span>Why do we need to go green?</span>
        </span>
        <span class="legal-consultant1-text018">
          <span>
            our current way of living is putting a severe strain on the
            planet&apos;s resources and natural systems. Human activities such
            as burning fossil fuels, deforestation, and industrial production
            have led to increased greenhouse gas emissions and climate change.
          </span>
        </span>
      </div>
    </div>
    <div class="legal-consultant1-section-hero">
      <img
        src="/assets/playground_assets/rectangle8163-ea4n-1500w.png"
        alt="Rectangle8163"
        class="legal-consultant1-rectangle8"
      />
      <div class="legal-consultant1-hero-image">
        <img
          src="/assets/playground_assets/creatingabrand2mmhaobgjcsunsplashremovebgpreview1168-erlh-1100h.png"
          alt="creatingabrand2mMhaoBGjCsunsplashremovebgpreview1168"
          class="legal-consultant1-creatingabrand2m-mhao--gj-csunsplashremovebgpreview1"
        />
      </div>
      <div class="legal-consultant1-hero-title">
        <span class="legal-consultant1-text020"><span>GO GREEN!</span></span>
        <span class="legal-consultant1-text022">
          <span>Start your journey for being eco friendly</span>
        </span>
      </div>
      <div class="legal-consultant1-button-get-started">
        <span class="legal-consultant1-text024"><span>GET STARTED</span></span>
      </div>
    </div>
    <div class="legal-consultant1-achievement">
      <div class="legal-consultant1-bg">
        <img
          src="/assets/playground_assets/rectangle6177-99j-400h.png"
          alt="Rectangle6177"
          class="legal-consultant1-rectangle6"
        />
      </div>
      <div class="legal-consultant1-counts">
        <div class="legal-consultant1-frame2">
          <div class="legal-consultant1-details">
            <span class="legal-consultant1-text026">
              <span>8 billion</span>
            </span>
            <span class="legal-consultant1-text028"><span>people</span></span>
          </div>
        </div>
        <img
          src="/assets/playground_assets/divider1122-5pgq.svg"
          alt="Divider1122"
          class="legal-consultant1-divider"
        />
        <div class="legal-consultant1-frame3">
          <div class="legal-consultant1-details1">
            <span class="legal-consultant1-text030"><span>200+</span></span>
            <span class="legal-consultant1-text032">
              <span>countries</span>
            </span>
          </div>
        </div>
        <img
          src="/assets/playground_assets/divider1127-jmdm.svg"
          alt="Divider1127"
          class="legal-consultant1-divider1"
        />
        <div class="legal-consultant1-frame4">
          <div class="legal-consultant1-details2">
            <span class="legal-consultant1-text034">8</span>
            <span class="legal-consultant1-text035">
              <span>continents</span>
            </span>
          </div>
        </div>
      </div>
      <div class="legal-consultant1-section-heading">
        <div class="legal-consultant1-section-heading1">
          <span class="legal-consultant1-text037">
            <span>It is everywhere</span>
          </span>
        </div>
        <span class="legal-consultant1-text039">
          <span>we must go green as it touches everyone on the planet</span>
        </span>
      </div>
    </div>
    <div class="legal-consultant1-navbar">
      <div class="legal-consultant1-group9"></div>
      <div class="legal-consultant1-frame24">
        <span class="legal-consultant1-text041"><span>CONTACT</span></span>
        <span class="legal-consultant1-text043"><span>TESTIMONIALS</span></span>
        <span class="legal-consultant1-text045"><span>ABOUT</span></span>
        <span class="legal-consultant1-text047"><span>TERMS</span></span>
      </div>
      <div class="legal-consultant1-group27">
        <img
          src="/assets/playground_assets/searchoutline1146-po0l.svg"
          alt="SearchOutline1146"
          class="legal-consultant1-search-outline"
        />
      </div>
      <div class="legal-consultant1-logo">
        <div class="legal-consultant1-logo1">
          <img
            src="/assets/playground_assets/oval1150-2ci-200h.png"
            alt="Oval1150"
            class="legal-consultant1-oval"
          />
          <span class="legal-consultant1-text049">L</span>
        </div>
        <span class="legal-consultant1-text050"><span>zhasyl arman</span></span>
      </div>
    </div>
    <div class="legal-consultant1-testimonial-section">
      <img
        src="/assets/playground_assets/quotemark1155-n3v.svg"
        alt="QuoteMark1155"
        class="legal-consultant1-quote-mark"
      />
      <div class="legal-consultant1-slidercontrols2">
        <img
          src="/assets/playground_assets/ellipse11158-ioc-200h.png"
          alt="Ellipse11158"
          class="legal-consultant1-ellipse1"
        />
        <img
          src="/assets/playground_assets/ellipse21159-ce7h-200h.png"
          alt="Ellipse21159"
          class="legal-consultant1-ellipse2"
        />
        <img
          src="/assets/playground_assets/ellipse31160-f7qm-200h.png"
          alt="Ellipse31160"
          class="legal-consultant1-ellipse3"
        />
      </div>
      <div class="legal-consultant1-testimonials">
        <div class="legal-consultant1-texttestimonial2">
          <img
            src="/assets/playground_assets/card1163-0o7p.svg"
            alt="Card1163"
            class="legal-consultant1-card"
          />
          <span class="legal-consultant1-text052">
            <span>Ground Breaking</span>
          </span>
          <span class="legal-consultant1-text054">
            <span>
              <span>
                I am very impressed with the steps that Go Green has taken to go
                green. Not only do they provide excellent service, but their
                commitment to sustainability and reducing their environmental
                impact really sets them apart. It&apos;s refreshing to see a
                company that truly cares about the future of our planet.
              </span>
              <br />
              <span></span>
            </span>
          </span>
          <div class="legal-consultant1-frame-clientdetails-white-text">
            <img
              src="/assets/playground_assets/photo1168-3gfa-200h.png"
              alt="Photo1168"
              class="legal-consultant1-photo"
            />
            <div class="legal-consultant1-person-details">
              <span class="legal-consultant1-text059 SubtitleSubtitle1">
                <span>Leonardo Di Caprio</span>
              </span>
              <span class="legal-consultant1-text061 BodyBody2">
                <span>Actor</span>
              </span>
            </div>
          </div>
        </div>
        <div class="legal-consultant1-cards-testimonial3">
          <img
            src="/assets/playground_assets/card1173-081e.svg"
            alt="Card1173"
            class="legal-consultant1-card1"
          />
          <span class="legal-consultant1-text063">
            <span>Aware and Smart</span>
          </span>
          <span class="legal-consultant1-text065">
            <span>
              Their eco-friendly practices, such as using renewable energy
              sources and reducing waste, not only benefit the environment but
              also create a healthier workplace for their employees. It&apos;s
              clear that Go Green values sustainability and is committed to
              making a positive impact.
            </span>
          </span>
          <div class="legal-consultant1-frame-clientdetails-white-text1">
            <img
              src="/assets/playground_assets/photo1178-1rwe-200h.png"
              alt="Photo1178"
              class="legal-consultant1-photo1"
            />
            <div class="legal-consultant1-person-details1">
              <span class="legal-consultant1-text067 SubtitleSubtitle1">
                <span>Angelina Jolie</span>
              </span>
              <span class="legal-consultant1-text069 BodyBody2">
                <span>Actress</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="legal-consultant1-section-heading2"></div>
      <span class="legal-consultant1-text071">
        <span>Clients Testimonial</span>
      </span>
    </div>
    <div class="legal-consultant1-footer">
      <div class="legal-consultant1-links">
        <div class="legal-consultant1-col1">
          <span class="legal-consultant1-text073 HeadingH6">
            <span>Product</span>
          </span>
          <div class="legal-consultant1-list-items">
            <span class="legal-consultant1-text075 BodyBody1">
              <span>Overview</span>
            </span>
            <div class="legal-consultant1-features">
              <span class="legal-consultant1-text077 BodyBody1">
                <span>Features</span>
              </span>
            </div>
            <span class="legal-consultant1-text079 BodyBody1">
              <span>Tutorials</span>
            </span>
            <span class="legal-consultant1-text081 BodyBody1">
              <span>Pricing</span>
            </span>
            <span class="legal-consultant1-text083 BodyBody1">
              <span>Releases</span>
            </span>
          </div>
        </div>
        <div class="legal-consultant1-col2">
          <span class="legal-consultant1-text085 HeadingH6">
            <span>Company</span>
          </span>
          <div class="legal-consultant1-list-items1">
            <span class="legal-consultant1-text087 BodyBody1">
              <span>About</span>
            </span>
            <span class="legal-consultant1-text089 BodyBody1">
              <span>Press</span>
            </span>
            <span class="legal-consultant1-text091 BodyBody1">
              <span>Careers</span>
            </span>
            <span class="legal-consultant1-text093 BodyBody1">
              <span>Contact</span>
            </span>
            <span class="legal-consultant1-text095 BodyBody1">
              <span>Partners</span>
            </span>
          </div>
        </div>
        <div class="legal-consultant1-col3">
          <span class="legal-consultant1-text097 HeadingH6">
            <span>Support</span>
          </span>
          <div class="legal-consultant1-list-items2">
            <span class="legal-consultant1-text099 BodyBody1">
              <span>Help Center</span>
            </span>
            <span class="legal-consultant1-text101 BodyBody1">
              <span>Terms of service</span>
            </span>
            <span class="legal-consultant1-text103 BodyBody1">
              <span>Legal</span>
            </span>
            <span class="legal-consultant1-text105 BodyBody1">
              <span>Privacy Policy</span>
            </span>
            <span class="legal-consultant1-text107 BodyBody1">
              <span>Status</span>
            </span>
          </div>
        </div>
      </div>
      <div class="legal-consultant1-logotype-light"></div>
      <div class="legal-consultant1-sub-footer">
        <div class="legal-consultant1-social-links">
          <img
            src="/assets/playground_assets/socialicons1216-wwco.svg"
            alt="SocialIcons1216"
            class="legal-consultant1-social-icons"
          />
          <img
            src="/assets/playground_assets/socialicons1219-5iis.svg"
            alt="SocialIcons1219"
            class="legal-consultant1-social-icons1"
          />
          <img
            src="/assets/playground_assets/socialicons1222-46l.svg"
            alt="SocialIcons1222"
            class="legal-consultant1-social-icons2"
          />
          <img
            src="/assets/playground_assets/socialicons1225-2emj.svg"
            alt="SocialIcons1225"
            class="legal-consultant1-social-icons3"
          />
        </div>
        <span class="legal-consultant1-text109 BodyBody2">
          <span>© 2023 Zhasyl Arman. All rights reserved</span>
        </span>
      </div>
    </div>
    <div class="legal-consultant1-logo2">
      <div class="legal-consultant1-logo3">
        <img
          src="/assets/playground_assets/oval1231-ahz-200h.png"
          alt="Oval1231"
          class="legal-consultant1-oval1"
        />
        <span class="legal-consultant1-text111">L</span>
      </div>
      <span class="legal-consultant1-text112"><span>Zhasyl Arman</span></span>
    </div>
    <div class="legal-consultant1-cta">
      <span class="legal-consultant1-text114">
        <span>Want to make an impact?</span>
      </span>
      <span class="legal-consultant1-text116">
        <span>Call us and be a part of the story</span>
      </span>
      <div class="legal-consultant1-group30">
        <img
          src="/assets/playground_assets/h1rwnftuyc1240-rju8-500w.png"
          alt="h1RWNFtUyc1240"
          class="legal-consultant1-h1rw-ft-uyc"
        />
      </div>
      <div class="legal-consultant1-group28">
        <div class="legal-consultant1-group31">
          <div class="legal-consultant1-group29">
            <div class="legal-consultant1-call">
              <div class="legal-consultant1-iconly-bold-call">
                <div class="legal-consultant1-call1">
                  <img
                    src="/assets/playground_assets/stroke11248-bnl.svg"
                    alt="Stroke11248"
                    class="legal-consultant1-stroke1"
                  />
                </div>
              </div>
            </div>
            <span class="legal-consultant1-text118"><span>Call now</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
